include "~/.config/niri/dms/cursor.kdl"
include "~/.config/niri/dms/alttab.kdl"
include "~/.config/niri/dms/binds.kdl"
include "~/.config/niri/dms/layout.kdl"
include "~/.config/niri/dms/colors.kdl"
include "~/.config/niri/dms/binds.kdl"
