screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d-%H-%M-%S.png"
prefer-no-csd
overview {
    backdrop-color "#11121d";
    workspace-shadow {
        off
    }
}
layout {
    gaps 6
    struts {
        left 2
        right 2
        top 5
        bottom 5
    }
blur {
    noise 0.1
    passes 2
    radius 5
  }
    focus-ring { off; }
    border {
        width 3
        active-gradient angle=100 from="#9ad4a1" relative-to="window" to="#ffb4ab"
        inactive-gradient angle=180 from="#414868" relative-to="window" to="#1e1e2e"
    }
    background-color "transparent"
    shadow {
        on
        offset x=2 y=2
        softness 40
        spread 6
        draw-behind-window false
        color "rgba(0, 0, 0, 0.5)"
    }
    tab-indicator {
        hide-when-single-tab
        gap -12.000000
        width 4.000000
        length total-proportion=0.100000
        gaps-between-tabs 10.000000
        corner-radius 10.000000
    }
    default-column-width { proportion 0.500000; }
    preset-column-widths {
        proportion 0.330000
        proportion 0.500000
        proportion 0.750000
        proportion 1.000000
    }
    center-focused-column "never"
    always-center-single-column
}
cursor {
    xcursor-theme "Chiharu"
    xcursor-size 32
}
hotkey-overlay { skip-at-startup; }
